*, *:before, *:after {
    box-sizing: border-box;
    margin-block-end: 0;
    margin-block-start: 0;
}

.landing-section h1 {
    text-shadow:  0px 0px var(--light-color);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    text-align: center;
}

.column-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 30px;
    padding: 0 10px;
}

body {
    --highlight-color:rgb(216, 39, 157);
    --light-color:#ff96cb;
    --accent-color:#b3e885;
    --dark-color: rgb(13, 22, 24);
    --primary-color:rgb(53, 53, 53);
    --secondary-color: rgb(245, 241, 241);
    --background-color: rgb(240, 233, 228);
    --grid-color: rgb(225, 219, 219);
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 100px;
    overflow-x: hidden;
    cursor: default;
}

.grid {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;    
    position: absolute;
    padding: 0;
    background: transparent;
    background-image: linear-gradient(var(--grid-color) .05vw, transparent .05vw), linear-gradient(90deg, var(--grid-color) .05vw, transparent .05vw);
    background-size: 15px 15px; /*size of one square*/
    z-index: -1;
    margin-top: 130px;
    margin-bottom: 100px;
    width: 78vw;
    border-bottom: solid var(--grid-color) 0.5px;
    border-right: solid var(--grid-color) 0.5px;
}

section {
    width: 75%;
    margin: auto;
}

.div-row {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: auto;
}

.div-column {
    display: flex;
    flex-direction: column;
}

.div-grid {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.div-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.better-button {
    border: solid 1.5px var(--dark-color);
    background-color: var(--light-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
    color: var(--dark-color);
    border-radius: 0;
    padding: 15px;
    width: fit-content;
    margin: 0 5px;
    line-height: 0px;
}

.better-button:hover { 
    background-color: white;
    color: var(--dark-color);
    cursor:pointer;
}

#landing-section {
    margin-bottom: 20px;
    width: 100%;
}

.skill-vignet {
  width: fit-content;
  position: relative;
  z-index: 3;
  font-weight: 700;
  margin-right: 23px;
  font-family: "Nunito", sans-serif;
  font-size: 10px;
  color: var(--primary-color);
  text-transform: uppercase;
  display:inline-block; 
}

.skill-vignet::after {
  display: block;
  content: "";
  position: absolute;
  left: -8px;
  right: -8px;
  top: 8px;
  bottom: 8px;
  background-color: var(--light-color);
  border: solid 1.5px var(--dark-color);
  z-index: -1;
  border-radius: 7px;
  box-shadow: 0 3px var(--dark-color);
}

.skill-vignet:hover {
    animation: sinkAnim 0.2s ease forwards;
}

.skill-vignet:not(:hover) {
    animation: riseAnim 0.2s ease forwards;
}

@keyframes sinkAnim {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(3px);
  }
}

@keyframes riseAnim {
  from {
    transform: translateY(3px);
  }
  to {
    transform: translateY(0px);
  }
}