navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.nav-ul {
  display: flex;
  padding: 0% 2% 0% 0%;
  width: fit-content;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin:auto;
}

.nav-link {
  position: relative;
  overflow: hidden;
  text-align: center;
  height: fit-content;
  margin: 0 30px;
  padding: 10px 0;
  white-space: nowrap;
}

.active {
    background-color: var(--background-color);
    padding-left:10px;
    padding-right:10px;
}

.nav-link a {
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: medium;
  font-weight: 600;
}

.nav-link a:hover {
  color: var(--highlight-color);
}

#background-navbar {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  top:0;
  height: 42.5px;
  background-color: var(--light-color);
  border: solid var(--dark-color) 1.5px;
}

@media screen and (max-width: 1000px) {
    #nav-ul  {
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #background-navbar {
        height: 209px;
    }
}

@media screen and (max-width: 600px) {
    #nav-ul  {
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #background-navbar {
        height: 209px;
    }
}