.other-projects {
    background-color: var(--background-color);
    border: solid 1.5px var(--dark-color); 
    border-left: 0;
    border-right: 0;
    width: calc(3vw*26 + .1em);
    height: 30px;
    /* position: absolute; */
    bottom: 5.5vw;
    left: 0;
    right: 0;
    margin-bottom: 30px;
}

.next-project-button {
    height: 100%; 
    width: 100px; 
    font-size: 15px;
    text-decoration: none;
    transform: .3s;
    border: solid 1.5px var(--dark-color); 
    border-top: 0;
    border-bottom: 0;
    background-color: var(--light-color);
    color: var(--primary-color);
    padding: 0;
}

.next-project-button:hover {
    color: var(--primary-color);
    background-color: white;
    cursor: url("/img/assets/Curseur_Clic.png"), auto;

}

.next-project-title {
    font-family: 'Asap-Light', sans-serif; 
    font-size:15px;
    font-weight: 600;
    text-transform: uppercase;
}

#right-project, #left-project {
    margin: 0;
}

.game-section
{
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 10px;
}

.game-div
{
  margin-top: 30px;
  margin-bottom: 30px;
}

.gallery-image
{
  transition: 0.4s;
  border: 2px solid var(--primary-color);
}

.gallery-image-no-border {
  transition: 0.4s;
}

.gallery-image:hover {
  transform: scale(1.05);

}

.gallery-image-no-border:hover {
  transform: scale(1.05);
}

.banner-image {
    width:50%;
    margin-bottom: 40px;
}

.banner-div {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 30px;
}

.game-title-h1 {
  font-family: 'Les Flos Sage', sans-serif;
  font-size: 4.5vh;
  color: var(--primary-color);
  margin-top: 30px;
  margin-bottom: 40px;
  text-transform: uppercase;
  /* text-shadow:  0px 0px var(--accent-color); */
  /* -webkit-text-fill-color: transparent; */
  /* -webkit-text-stroke-width: 1.5px; */
}

.game-info {
    display: flex;
    flex-direction: row;
    gap: 200px;
    margin-bottom: 20px;
}

.video-trailer {
    width: 100%;
    aspect-ratio: 16/9;
}

.content-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    gap: 40px; 
    padding-bottom: 20px;
}

.image-row-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    gap: 20px; 
    padding-bottom: 20px;
}

.image-column-container{
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-items: center;
    width: 100%;
    margin: auto;
    gap: 20px; 
    padding-bottom: 20px;
}

.image-row-2{
  width: 49%;
}

.image-row-3{
  width: 33%;
}

.image-row-6{
  width: 12%;
}

@media screen and (max-width: 1000px) {
  .content-row{
    flex-direction: column;
  }
  .game-info {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .content-row{
    flex-direction: column;
  }
  .game-info {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  .image-row-container{
    flex-direction: column;
    align-items: center;
  }
  .image-row-2{
    width:90%;
  }
  .image-row-3{
    width:90%;
  }
  .image-row-6{
    width: 90%;
  }
  .other-projects p {
    display: none;
  }
}

/*ELEMENTS SPECIFIC TO CERTAIN PROJECTS*/

/*Web/Application mini-projects*/
.webapp-images{
  width: 30%;
}

/*Along the swamp*/
.swamp-images{
  width: 50%; 
  padding-left: 50px; 
  padding-bottom: 20px; 
  padding-top: 20px;
}

/*Music player*/
.music-player-images{
  display: flex;
  flex-direction: column;
  width: 25%; 
  gap:40px; 
  padding-bottom: 40px;
}

/*Desktop pet*/
.desktop-pet-gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    gap: 20px; 
    padding-bottom: 20px;
}

/*Costellation*/
.costellation-result{
  width: 36%; 
}

@media screen and (max-width: 1000px) {
  .webapp-images{
    width: 45%;
    display: block;
    margin: auto;
  }
  .swamp-images{
    width: 60%; 
    display:block;
    margin:auto;
    padding-bottom: 20px;
  }
  .music-player-images{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  }
  .music-player-images img{
  width: 25%;
  }
}

@media screen and (max-width: 600px) {
  .webapp-images{
    width: 90%;
    display: block;
    margin: auto;
  }
  .swamp-images{
    width: 90%; 
    display:block;
    margin:auto;
    padding-bottom: 20px;
  }
  .music-player-images{
    display: flex;
    flex-direction: column;
    width: 100%; 
    gap:40px; 
    padding-bottom: 40px;
  }
  .music-player-images img{
    width: 100%;
  }
  .desktop-pet-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    place-items: center;
    justify-items: center;
  }
  .costellation-result{
    width: 90%; 
  }
}